@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;

}

.header-logo {
    height: 4.5rem;
}

.header-menu {
    display: flex;
    gap: 2rem;
}

.header-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 1.125rem;
}

.content {
    margin-bottom: 3rem;
    border-top: 0.025rem solid #FFF2E7;    
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-content-written {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-content-written-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 4rem;
    color: #FFF2E7;
}

.main-content-written-subtitle {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ECD6C4;
}

.main-content-written-button:hover {
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}

.main-content-written-button {
    background-color: #ECD6C4;
    width: 11.563rem;
    height: 4.188rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0.25rem 0.313rem 0.25rem rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #2F2325;
}

.main-content-image {
    height: 26.875rem;
}

.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.secondary-content-title {
    border-top: 0.025rem solid #FFF2E7;
    padding-top: 3rem;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFF2E7;
    margin-bottom: 1rem;
}

.secondary-content-paragraph {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: #ECD6C4;
}

.footer {
    padding: 2rem;
    border-top: 0.025rem solid #FFF2E7;
}

.footer-image {
    height: 3rem;
    display: block;
    margin: 0 auto;
}